<ion-view view-title="IBM Mobile + IOT">
  <ion-content class="padding">

    <div class="card">
      <div class="item item-divider blue">
        Temperatura
      </div>
      <div class="item item-text-wrap temp text-center">
        {{temperatura}} ºC
      </div>

    </div>
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="item item-divider blue2">
            Humedad
          </div>
          <div class="item item-text-wrap temp text-center">
            {{humedad}}
          </div>

        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="item item-divider blue3">
            Presión
          </div>
          <div class="item item-text-wrap temp text-center">
           {{presion}}
          </div>

        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
